.thumb-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding:0px;
    background-color: rgb(212, 212, 212);
}

div.polaroid {
    display: inline-block;
    width: 220px;
    height: 190px;
    margin: 10px 10px;
    padding:0px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroid-container {
    text-align: center;
    padding: 0px 20px;
    background-color: white;
}

div.polaroid-container>p {
    overflow: hidden;
    height: 24px;
    cursor: text;
}
